/* Global */
body {
    margin: 0;
    padding: 0;
}

/*----- Intro Page -----*/
.title {
    height: 33vh;
    width: 100%;
}

.title-text {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .intro-img {
    background-image: url('../img/hero-intro(3).jpg');
    height: 40vh;
    width: 100%;
    background-attachment: fixed;
 }

 .intro{
    text-align: center;
    font-size: 1.25em;
    height: 600px;
    display: flex;
    justify-content: center;
 }

.intro-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.start-btn {
    border-style: none;
    background-color: #1fa87b;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}

.btn-a {
    text-decoration: none;
    color: #fff;
}

.start-btn:hover {
    background-color: #238f6b;
}

/* -----Page One----- */
header {
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-bar {
    height: 70px;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-btn {
    text-decoration: none;
    color: #aaa;
    padding: 10px;
    border-radius: 5px;
}

.nav-btn:hover {
    color: #888;
}

.list-items {
    list-style-type: none;
    float: left;
    margin: 10px;
    
}

.hero-img {
    background-image: url('../img/hero-intro(3).jpg');
    height: 40vh;
    width: 100%;
    background-attachment: fixed;
}

.meat {
    width: 100%;
    height: 600px;
}

.ketchup {
    height: 70px;
    width: 50%;
}

.lettuce, .cheese {
    width: 30%;
    height: 256px;
    float: left;

}

.goods {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}